body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #6c757d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.back-button:hover {
    background-color: #5a6268;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}

.silueta-container {
    position: relative;
    margin-top: 50px;
    display: inline-block;
}

.silueta {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

.descripcion {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    display: none;
    border: 1px solid #007BFF;
}

.descripcion.visible {
    display: block;
}

/* Estilos para mostrar los rectángulos clicables */
/* Estilos para los div clickeables pero invisibles */
/* Estilos para los div clickeables pero invisibles */
.click-area {
    position: absolute;
    cursor: pointer;
    /* Sin borde ni fondo visible */
    border: none;
    background-color: transparent;
}


